html
  head
    title CryptoNav
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='./assets/css/main.css')
    noscript
      link(rel='stylesheet', href='./assets/css/noscript.css')
  body.landing.is-preload
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='') Coin Distribution
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='/cryptocurrency') Cryptocurrency 101
                  li
                    a(href='/blockchain') Blockhain 101
                  li
                    a(href='/posvspow') POW vs POS
                  li
                    a(href='/distribution') Distribution
                  li
                    a(href='/alg') Hashing algorithms
                  li
                    a(href='/nav') SPARQL Explorer
      // Banner
      section#banner
        .inner
          h2 Distribution
          p
            | How do coins get distributed?
        a.more.scrolly(href='#one') Learn More
      section#one.wrapper.special
        .inner
          header.major
            h2
              | Fair launch
            p
              | A fair launch is when a coin gets released to the public at known date and time.
              br
              | No special bonuses or incentives have been given to early adopters or investors, meaning everyone
              br
              | is in equal footing.
      section#one.wrapper.special
        .inner
          header.major
            h2
              | Initial coin offering (ICO)
            p
              | An Initial Coin Offering, also commonly referred to as an ICO, is a fundraising mechanism in which new projects sell their underlying crypto tokens in exchange for bitcoin and ether.
            p
              | It’s somewhat similar to an Initial Public Offering (IPO) in which investors purchase shares of a company.
      section#one.wrapper.special
        .inner
          header.major
            h2
              | Pre-mine
            p
              | A premine or instamine is where the developer or developers don’t release the crypto currency in what can be considered a fair manner.
            p
              | This happens when the creators of a decentralized token keep a portion for themselves either by allocating funds before launch or self-mining before publicly releasing information to other miners.
      section#one.wrapper.special
        .inner
          header.major
            h2
              | Hard fork
            p
              | A hard fork is a permanent divergence from the previous version of the blockchain, and nodes running previous versions will no longer be accepted by the newest version.
              br
              | This essentially creates a fork in the blockchain: one path follows the new, upgraded blockchain, and the other path continues along the old path.
            p
              | When a hard-fork happens, the user will get a set amount of coins in the new chain compared to the old blockchain.
              br
              | For example, when Bitcoin Cash forked from Bitcoin, users were awarded 1 BCH for each BTC they previosuly had.
            div(class="embed-responsive embed-responsive-16by9")
              iframe(width="854" height="480" src="https://www.youtube.com/embed/XCo6yyutYAM" frameborder="0" allowfullscreen)
      section#one.wrapper.special
        h2 Types of distribution present in our dataset
        .inner
          script(src='/javascripts/jquery-3.3.1.min.js')
          script(src='https://d3js.org/d3.v5.min.js')
          script(src='https://unpkg.com/viz.js@1.8.0/viz.js' type='javascript/worker')
          script(src='https://unpkg.com/d3-graphviz@1.4.0/build/d3-graphviz.min.js')
          div
            div(id='graph')
              script!= renderingCode
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
